/*General*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.red-box {
  background-color: #be0909;
  flex: 74%;
}
.red-box::after {
  content: url(/pictures/duck.png);
  position: absolute;
  width: 663px;
  height: 603px;
  left: 585px;
  top: 205px;
}
.yellow-box {
  background-color: #ffb039;
  flex: 26%;
}

.inputname:hover,
.inputemail:hover,
.inputmessage-short:hover,
.textarea-long:hover {
  border-bottom: 3px solid #9dbebb;
}
.inputname:focus,
.inputemail:focus,
.inputmessage-short:focus,
.textarea-long:focus {
  outline: none;

  border-bottom: 3px solid #468189;
}
.inputemail:focus::placeholder,
.textarea-long:focus::placeholder {
  opacity: 0;
}
/*Form*/

.form-container {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: start;
  margin: 100px 0px 0px 50px;
  row-gap: 30px;
}
.fullname {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #feffff;
}
.inputname {
  width: 400px;
  background-color: #be0909;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #9dbebb;
  color: #fdffff;
  padding: 5px 5px 0px 5px;
  transition: 0.5s;
}

.email {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fcffff;
}
.inputemail {
  width: 160px;
  padding: 5px 5px 0px 5px;
  background-color: #be0909;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #9dbebb;
  color: #fdffff;
  transition: 0.5s;
}
.inputemail::placeholder {
  color: #fdffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3em;
}
.message-short {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #feffff;
}
.inputmessage-short {
  width: 160px;
  background-color: #be0909;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #9dbebb;
  color: #fdffff;
  padding: 5px 5px 0px 5px;
  transition: 0.5s;
}
.message-long {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3em;
  color: #feffff;
}
.textarea-long {
  width: 400px;
  background-color: #be0909;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #9dbebb;
  overflow: auto;
  color: #fdffff;
  padding: 5px 5px 0px 5px;
  transition: 0.5s;
}
.textarea-long::placeholder {
  color: #feffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3em;
}
.btn {
  width: 202px;
  height: 48px;
  background: #468189;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  align-self: center;
  transition: 0.4s;
}
.btn:hover {
  background: #468189;
  box-shadow: 0px 0px 12px #a3c0c4;
  transform: scale(1.1);
  cursor: pointer;
}
